[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/pav-code
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pav-code
	label-Verified = -1..+1 group user/pav-code
	push = group user/pav-code
	read = group user/pav-code
	rebase = group user/pav-code
	removeReviewer = group user/pav-code
	submit = group user/pav-code
[access "refs/heads/*"]
	create = group user/pav-code
	push = +force group user/pav-code
	pushMerge = group user/pav-code
	read = group user/pav-code
[access "refs/tags/*"]
	push = group user/pav-code
	push = +force group user/pav-code
